/* BEGIN (write your solution here) */
@font-face {
  font-weight: 400;
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Bold.ttf);
}
/* END */

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px;

  color: #eee;

  /* BEGIN (write your solution here) */
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  /* END */

  background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);
}

img {
  max-width: 100%;

  vertical-align: middle;
}

a {
  color: inherit;
}

h1 {
  font-size: 2em;
}

h2 {
  color: #00adb5;
  font-size: 1.5em;
}

.tabs {
  width: 1024px;
  margin: 0 auto;

  /* BEGIN (write your solution here) */
  column-count: 3;
  column-gap: 0;
  
  /* END */
}

/* BEGIN (write your solution here) */
.tabs .tabs-content {
  column-span: all;
  background-color: #393e46;
}

.tabs .tabs-content .tabs-content-item {
  column-count: 3;
  column-gap: 30px;

  padding: 20px;

  display: none;
}

.tab-name {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #00adb5;
  margin: 0;
  display: block;
  break-inside: avoid;
}

.tab-name:hover, .tab-name:focus  {
  border-bottom: 3px solid #5ffbf1;
}

[data-tab="html"]:hover ~ .tabs-content [data-tab-content="html"],
[data-tab="html"]:focus ~ .tabs-content [data-tab-content="html"],
[data-tab="css"]:hover ~ .tabs-content [data-tab-content="css"],
[data-tab="css"]:focus ~ .tabs-content [data-tab-content="css"],
[data-tab="js"]:hover ~ .tabs-content [data-tab-content="js"],
[data-tab="js"]:focus ~ .tabs-content [data-tab-content="js"] {
  display: block;
}

/* END */

.span-all {
  column-span: all;
}
